# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
ENV/
*.egg-info/
dist/
build/
log/
logs/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Machine Learning
*.pkl
*.h5
*.model
*.joblib
*.json
.ipynb_checkpoints/

# Log files
*.log

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/dist/
/build/
/.next/
/out/

# Docker
.docker/
docker-compose.override.yml

# Project specific
/data/raw/
/__pycache__/

# Large files
src/data/train/training_data.csv
frontend/package-lock.json
backend/models/xgb_obesity_model.json
models/model.joblib
models/xgb_obesity_model.json
data/train/estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.csv
data/train/ObesityDataSet_raw_and_data_synthetic.csv
notebook/Obesity_Risk_ML_Pipeline.ipynb 